[package]
name = "crisp-web"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
console = "0.15.7"
fhe = { path = "../../../fhe.rs/crates/fhe" }
fhe-traits = { path = "../../../fhe.rs/crates/fhe-traits" }
fhe-util = { path = "../../../fhe.rs/crates/fhe-util" }
# fhe = { git = "https://github.com/gnosisguild/fhe.rs", version = "0.1.0-beta.7" }
# fhe-traits = { git = "https://github.com/gnosisguild/fhe.rs", version = "0.1.0-beta.7" }
# fhe-util = { git = "https://github.com/gnosisguild/fhe.rs", version = "0.1.0-beta.7" }
rand = "0.8.5"
ethers = "2.0"
getrandom = { version = "0.2.11", features = ["js"] }
bincode = "1.0"

serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
wasm-bindgen = "0.2"

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/bin/web_fhe_encrypt.rs"

